# python
__pycache__/
*.pyc
*.pyo
*.pyd

# envs
.venv/
.env/
*.conda/

# outputs
results/logs/
results/plots/
results/videos/
results/classical_eval/

# editors
.vscode/
.idea/

# OS
.DS_Store

steps.txt
